.header, .footer{
   background-color: black;
   text-align: center;
   padding: 20px;
   color: white;
 }

 
table {
   width: 100%;
   align: center;
}

th {
   text-align: center;
   background-color: black;
   color: white;

}


div.statelaw {
   border: 1px solid black;
   width: 200px;
   height: 400px;
   margin: 20px;

   position: relative;
      
}

div.locallaw {
   border: 1px solid black;
   width: 200px;
   height: 400px;
   margin: 20px;

   position: relative;
}

form.map{
   border: 1px solid black;
   width: 200px;
   height: 400px;
   margin: 20px;

   position: relative;
}



