<!DOCTYPE>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>{{ title }}</title>
  </head>

  <body>
    <div class="header">
      Expungenation
    
    </div>

    {% if form %}
    <div class="zipcode">
      <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p class="output">
          {{ form.address.label }}</br>
          {{ form.address(size=32) }}
        </p>
      </form>
    </div>
    {% endif %}


<table>
  <tr>
    <th>State Law</th>
    <th>Local Law Firm</th>
    <th>Map</th>
  </tr>
  <tr>
    <td>
        <div>
            </br>
            <div class="statelaw">
              {{info|safe}}
              
            </div>
            <form>
      
            </form>
        </div>
    </td>
    <td>
        <div>
            </br>
            <div class="locallaw">
                <ol>
                    {% if entities %}
                      {% for entity in entities%}
                      <li>
                        <ul>
                          {% if entity[1] %} <li> {{ entity[1] }} </li> {% endif %}
                          {% if entity[2] %} <li> <a href="{{ entity[2] }}"> {{ entity[2] }} </a></li> {% endif %}
                          {% if entity[3] %} <li> {{ entity[3] }} </li> {% endif %}
                          {% if entity[4] or entity[5] %} <li> {{ entity[4] }} {{ entity[5] }} </li> {% endif %}
                        </ul>
                      </li>
                      {%endfor%}
                    {% endif %}
                </ol>
            </div>
      
          </div>
    </td>
    <td>
                  <div>
                     {% if marker %}
                     {% with %}
                
                        {% set loc=location %}
                        {% set style="width:500px; height:500px;"%}
                
                        {{
                        googlemap(
                           "simple-map",
                            loc.0, loc.1,
                            markers= marker,
                            style=style
                        )
                        }}
                     {% endwith %}
                     {% endif %}
                     {{ location }}
                  </div>
    </td>
  </tr>
    

    

    
  </table>


    <div class="footer">
      Copyright something | 09/28/2019
    </div>

  </body>
</html>
