<!DOCTYPE>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>{{ title }} - TEST </title>
  </head>

  <body>
    {% if form %}
    <form action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      <p>
        {{ form.zipcode.label }}<br>
        {{ form.zipcode(size=32) }}
      </p>
    </form>
    {% else %}
    <ul>
      {% for entity in legal %}
      <li>
        {{ entity.name }} provides {{ entity.service }} in {{ entity.state }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    <div>
      {% with %}

        {% set location=(-23.599097,-46.675903) %}
        {% set style="width:500px;height:500px;"%}

        {{
        googlemap(
           "simple-map",
            location.0, location.1,
            markers=[location,],
            style=style
        )
        }}
{% endwith %}
    </div>
  </body>
</html>
